<!-- <div class="form-container">
  <h1 class="form-title">Sign Up</h1>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <div class="example-container">

      <mat-form-field class="full-width">
        <mat-label>Enter your name</mat-label>
        <input
          matInput
          placeholder="John"
          [formControl]="form.controls.name" required
        />
        <mat-error *ngIf="form.controls.email.invalid">{{errorMessage()}}</mat-error>
      </mat-form-field>
      
      <mat-form-field class="full-width">
        <mat-label>Enter your email</mat-label>
        <input
          matInput
          placeholder="pat@example.com"
          [formControl]="form.controls.email"
          (blur)="updateErrorMessage()"
          required
        />
        <mat-error *ngIf="form.controls.email.invalid">{{errorMessage()}}</mat-error>
      </mat-form-field>
      <mat-form-field class="full-width">
        <mat-label>Enter your password</mat-label>
        <input matInput [type]="hide() ? 'password' : 'text'" [formControl]="form.controls.password"/>
        <button
          mat-icon-button
          matSuffix
          (click)="clickEvent($event)"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hide()"
        >
          <mat-icon>{{hide() ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>

      <section>
        <div class="example-button-row">
          <button mat-raised-button [routerLink]='["/"]'>Login</button>
          <button mat-raised-button>SignUp</button>
        </div>
      </section>
    </div>
  </form>
</div> -->

<mat-horizontal-stepper linear>
  <mat-step>
    <ng-template matStepLabel>Enter Your Name</ng-template>
    <form [formGroup]="form">
      <mat-form-field>
        <input matInput placeholder="Name" formControlName="name" required>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </form>
  </mat-step>

  <mat-step>
    <ng-template matStepLabel>Enter Email and Password</ng-template>
    <form [formGroup]="form">
      <mat-form-field>
        <input matInput placeholder="Email" formControlName="email" required>
        <mat-error *ngIf="form.get('email')?.invalid">{{errorMessage()}}</mat-error>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Password" formControlName="password" required [type]="hide() ? 'password' : 'text'">
      </mat-form-field>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button type="
        button" (click)="onSubmit()">Submit</button>
      </div>
    </form>
  </mat-step>
</mat-horizontal-stepper>
